* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a, nav p {
    display: none;
}
.my-img {
    width: 100%;
}
.header-container {
    text-align: center;
    /* padding: 0 5%; */
}
.header-container .p-1 {
    color: red;
}
.header-container h1 {
    margin-top: 2%;
}
.my-line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.line-1 {
    width: 30%;
}
.header-container .p-2 {
    margin-top: 6%;
    padding: 0 5%;
} 
.header-container button {
    margin-top: 8%;
    padding: 3% 6%;
    background-color: red;
    color: white;
    border-radius: 30px;
    border: none;
}
.section-wire-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20%;
}
.wire-1 {
    width: 20%;
}
.hr-1 {
    margin-top: 20%;
    margin: 10% 5% 0 5%;
}
.section-2 h1 {
    margin-top: 5%;
    text-align: center;
    padding: 0 5%;
}
.section-2 p {
    padding: 0 5%;

}
.zuri-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr-2 {
    margin: 10% 5% 0 5%;
}
.section-wire-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}
.wire-3-child {
    width: 30%;
}

.section-3 .p-3 {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}
.section-3 .h-3 {
    padding-left: 5%;
    padding-right: 5%;
}
.section-4 {
    display: block;
}

.curve-child-1 {
    width: 100%;
} 
.section-4-child2 {
    background-color: red;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 10px;
    margin: 5% 4%;
}
.trial {
    padding: 10% 5%;
}
.section-4-child {
    background-color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 5px;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 10px;
    margin: 5% 4%;
}
.trial-2, .trial-3, .trial-4, .trial-5, .trial-6 {
    padding: 10% 5%;
}
.curve-child-2 {
    width: 100%;
} 

.section-4-child h3, p {
    padding-top: 5%;
}
.section-4-child2 h3, p {
    padding-top: 5%;
}
.section-5 {
    padding-top: 20%;
    background-color: red;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}
.wire-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-wire-5 {
    width: 30%;
}
.section-5 button {
    margin-top: 8%;
    padding: 3% 9%;
    background-color: white;
    color: red;
    border-radius: 30px;
    border: none;
}
.under-section-5 {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 5%;
    gap: 5%;
}
.under-section-5-child {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid white;
    padding: 3% 9%;
    border-radius: 50px;
    margin: 5% 0;
}
.teamwork-img {
    width: 60%;
}
.section-5-img-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0 15% 0;
}
.section-5-img {
    width: 100%;
}
.section-6-img-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5% 10% 5%;
}
.section-6-img {
    width: 15%;
}


.section-6 {
    padding-top: 20%;
    padding-left: 5%;
    padding-right: 5%;
}
.section-6 .h-4, .h-01 {
    padding: 0 5%;
}

.section-6-child {
    background-color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 5px;
    padding: 10% 5%;
    border-radius: 10px;
    margin: 7% 4%;
}
.section-6-child p {
    padding-bottom: 10%;
}
.after-section-6 {
    text-align: center;
}
.after-section-6-btn {
    text-align: center;
    margin-top: 8%;
    padding: 3% 8%;
    background-color: red;
    color: white;
    border-radius: 30px;
    border: none;
}
.hr-3 {
    margin: 15% 5%;
}
.section-7  {
    padding: 0 5%;
}
.section-7 .p-4, .ok {
    text-align: center;
}
.section-7 .p-5 {
    text-align: center;
    padding-top: 10%;
}
.under-section-7 {
    text-align: center;
}
.under-section-7 button {
    text-align: center;
    margin-top: 2%;
    padding: 3% 8%;
    background-color: red;
    color: white;
    border-radius: 30px;
    border: none;
}
.h-5 {
    margin: 8% 5%;
}








/* MY RESPONSIVENESS */
@media (min-width: 900px) {


}