* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


nav ul li {
    display: none;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(248, 222, 222);
    width: 100%;
}
nav .talent-img {
    width: 100%;
}
nav button {
    background-color: red;
    color: white;
    padding: 10% 30%;
    white-space: nowrap;
    border: none;
    cursor: pointer;
}
header {
    padding-top: 15%;
}
header h1 {
    text-align: center;
    font-size: 3rem;
    padding: 0 5%;
}
header p {
    text-align: center;
    font-size: 1.2rem;
    padding: 10% 5% 0 5%;
    
}
.thick-main {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5%;
    position: absolute;

    /* padding-right: 30%;
    padding-bottom: 10%; */
}
.thick2 {
    position: relative;
    left: 17%;
}
.button {
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
}
.H-M {
    padding: 2% 10%;
    border-bottom-right-radius: 10px;
    background-color: red;
    color: white;
    border: 1px solid red;
}
.T-L {
    padding: 2% 10%;
    border-bottom-right-radius: 10px;
    background-color: gray;
    color: white;
    border: 1px solid gray;
}
.section-one {
    padding: 10% 5%;
}
.section-one-img {
    width: 100%;
}
main {
    background-color: antiquewhite;
}
main h1 {
    padding: 10% 5% 0 5%;
}
main h4 {
    padding: 1% 5%;
}
main p {
    padding: 1% 5%;
}
.country-main {
    display: flex;
    justify-content: space-between;
    padding: 5% 5%;

}
.country {
    width: 80%;
    background-color: white;
    padding: 15% 15%;
    border-radius: 8px;
}
 .india, .USA {
    width: 110%;
    padding: 30% 30%;
}
.Nigeria {
    width: 90%;
}
.people {
    padding: 10% 5%;
}
.people-img {
    width: 100%;
}
aside {
    background-color: rgb(240, 239, 239);
    padding-bottom: 25%;
}
aside h1 {
    padding: 20% 5% 10% 5%;
    font-size: 2rem
}
.grid-layer {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 5%;
    gap: 5%;
    text-align: center;

}

.skills {
    margin: 3% 0;
    background-color: white;
    padding: 12% 9%;
    border-radius: 10px;

}
.grid-layer-2 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 5%;
    gap: 5%;
    text-align: center;

}
.skills-2 {
    margin: 0.5% 0;
    background-color: white;
    padding: 5% 5%;
    border-radius: 10px;
    align-self: center;
}
summary {
    background-color: rgb(240, 233, 194);
    background-image: url(images/rope.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
summary h1 {
    padding: 15% 5%;
    text-align: center;
}
.talent-reason {
    display: flex;
    flex-direction: column;
    /* padding: 0 5%; */
    text-align: center;

}
.reasons {
    background-color: white;
    padding: 10% 8%;
    margin: 3% 5%;
}
.reasons p {
    padding: 5% 0;
}
.summary-button {
    display: flex;
    justify-content: space-around;
    margin: 5% 5%;
}
.H-T {
    padding: 2% 10%;
    border-bottom-right-radius: 10px;
    background-color: red;
    color: white;
    border: 1px solid red;
}
.J-T {
    padding: 2% 10%;
    border-bottom-right-radius: 10px;
    background-color: gray;
    color: white;
    border: 1px solid gray;
}